<footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark justify-content-center align-items-center">
        <h6 class="display-10 navbar-text">&copy;2023 All rights reserved</h6>
    </nav>
</footer>


