/*
File Name: COMP229_Lab1
Student Name: Wilson Yang
Student Numb: 301195179
Date: October 03, 2023
*/

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* Spacing out sections of the Home Page */
.header {
  margin-top: 45px;
}

.welcome-header {
  margin-top: 75px;
}

.welcome-body {
  margin-top: 80px;
}

.learn-more-button {
  margin-top: 50px;
}

/* Styling the About Me card */
.about-card-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.selfie-card {
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 5%;
}

.card-body {
  margin-top: 20px;
}

/* Styling Services Page */
.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-carousel {
  margin-top: 50px; 
}

.services-caption {
  margin-top: 20px;
}

/* Styling Projects Page */
.projects-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-caption {
  margin-top: 20px;
}

.projects-card {
  margin-top: 30px;
}